# Core functionality - changes here should be rare!
/src/app.py                   @ImNotKier
/src/backend/database.py      @ImNotKier
/src/backend/routers/auth.py  @ImNotKier

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ImNotKier
